.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center-over-header {
  position: relative;
  /* top: 40%;
  left: 50%; */
  transform: translate(0, -50%);
}

.img-container { position: relative; }

.img-container .top {
  position: absolute;
  top: 65%;
  left: calc(10px+2v);
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary-color1 {
  background-color: #212d40;
}

.primary-color2 {
  background-color:#11151c
}

.primary-color3 {
  background-color:#354156
}

.accent-color1 {
  background-color:#7D4E57
}

.accent-color2 {
  background-color:#D66853
}

.btn-gitbutton {
  background-color: #7D4E57;
  color: white;
  padding: 10px;
}

.primary-text {
  color:#D66853;
  font-family: Arial Black,Arial Bold,sans-serif; 
}